<html xmlns:th="http://www.thymeleaf.org">

<title>
    Add NEWPublication page.
    Strategy. as soon as publication type is chosen save the field and load in page with extra fields.
    if change pub type the save every field except extra fields and reload page with new extra page fields.
</title>
<header>
    <h1/>
    Hi

    </h1>
</header>
<body>
<div class="card-2 topnav">
    <div class="bar left green">
        <a class="bar-item button" th:href="@{/home}">Home</a>
        <a class="topnav-icons fa right bar-item button" th:href="@{/logout}">Izlogoties</a>
    </div>
</div>
</body>
</html>