<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<b>HOME</b>
<div class="header" th:object="${user}">
    <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a th:href="@{/users/{id}(id=${user.getU_ID()})}">Mans profils</a>
        <a th:if="${isAuthorityAuthor}" th:href="@{/publications/my-publications}">Manas Publikācijas</a>
        <a href="#Logout">Izlogoties</a>
    </div>
</div>
</body>
</html>