<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

<div class="card-2 topnav">
    <div class="bar left green">
        <a class="bar-item button" th:href="@{/home}">Home</a>
        <a class="bar-item button" th:href="@{/users/{id}(id=${user.getU_ID()})}">Mans profils</a>
        <a class="bar-item button" th:if="${isAuthorityAuthor}" th:href="@{/publications/my-publications}">Manas Publikācijas</a>
        <a class="bar-item button" th:if="${isAuthorityAdmin}" th:href="@{/users/}">Visi lietotāji</a>
        <a class="bar-item button" th:href="@{/publications/}">Visas Publikācijas</a>
        <a class="topnav-icons fa right bar-item button" th:href="@{/logout}">Izlogoties</a>
    </div>
</div>

<div class="main">
    <div>
    <span>
        Zinātnisko Publikāciju Uzskaites Sistēma ZiPUS
        2020
    </span>
    </div>
</div>

</body>
</html>