<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
		table, th, td {
			border: 1px solid black;
		}
    </style>
</head>
<title>
    Manas publikācijas
</title>
<h1 > Manas publikācijas</h1>

<body th:object="${publications}">
<div class="card-2 topnav">
    <div class="bar left green">
        <a class="bar-item button" th:href="@{/home}">Home</a>
        <a class="topnav-icons fa right bar-item button" th:href="@{/logout}">Izlogoties</a>
    </div>
</div>
</body>
<div>
    <a th:href="@{/publications/add}">Pievienot jaunu publikāciju</a>
</div>


<table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>
            <a th:href="@{'/publications/my-publications/page/' + ${currentPage} + '/size/' + 5 + '?sortField=publicationTitleOrigin&sortDirection=' + ${reverseSortDirection}}">
                Publikācijas nosaukums</a>
        </th>
        <th>
            <a th:href="@{'/publications/my-publications/page/' + ${currentPage} + '/size/' + 5 + '?sortField=publicationTitleEnglish&sortDirection=' + ${reverseSortDirection}}">
                Publikācijas nosaukums angļu valodā</a>
        </th>
        <th>
            <a th:href="@{'/publications/my-publications/page/' + ${currentPage} + '/size/' + 5 + '?sortField=fieldOfResearch&sortDirection=' + ${reverseSortDirection}}">
                Pētniecības nozare</a>
        </th>
        <th>
            <a th:href="@{'/publications/my-publications/page/' + ${currentPage} + '/size/' + 5 + '?sortField=pubType&sortDirection=' + ${reverseSortDirection}}">
                Publikācijas tips</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publication: ${publications}">
        <th>
            <a th:href="@{/publications/{id}(id=${publication.getPub_ID()})}"
               th:text="${publication.getPublicationTitleOrigin()}"/>
        </th>
        <th>
            <a th:href="@{/publications/{id}(id=${publication.getPub_ID()})}"
               th:text="${publication.getPublicationTitleEnglish()}"/>
        </th>
        <th>
            <a th:href="@{/publications/{id}(id=${publication.getPub_ID()})}"
               th:text="${publication.getFieldOfResearch()}"/>
        </th>
        <th>
            <a th:href="@{/publications/{id}(id=${publication.getPub_ID()})}"
               th:text="${publication.getPubType().getPublicationTypeValue()}"/>
        </th>
    </tr>
    </tbody>
</table>

<div>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">Kopējais publikāciju skaits: [[${totalItems}]]</div>
            <div class="col-sm-1">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}"
                       th:href="@{'/publications/my-publications/page/' + ${i} + '/size/' + 5 + '?sortField=publicationTitleOrigin&sortDirection=' + ${sortDirection}}">
                        [[${i}]]
                    </a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/publications/my-publications/page/' + ${1} + '/size/' + 5 + '?sortField=publicationTitleOrigin&sortDirection=' + ${sortDirection}}">
                    Pirmā lapa
                </a>
                <span th:unless="${currentPage > 1}">Pirmā lapa</span>
                <a th:if="${currentPage > 1}"
                   th:href="@{'/publications/my-publications/page/' + ${1} + '/size/' + 5 + '?sortField=publicationTitleOrigin&sortDirection=' + ${sortDirection}}">
                    Iepriekšējā lapa
                </a>
                <span th:unless="${currentPage > 1}"></span>
                Iepriekšējā lapa
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/publications/my-publications/page/' + ${currentPage + 1} + '/size/' + 5 + '?sortField=publicationTitleOrigin&sortDirection=' + ${sortDirection}}">
                    Nākamā lapa
                </a>
                <span th:unless="${currentPage < totalPages}">Nākamā lapa</span>
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/publications/my-publications/page/' + ${totalPages} + '/size/' + 5 + '?sortField=publicationTitleOrigin&sortDirection=' + ${sortDirection}}">
                    Pēdējā lapa
                </a>
                <span th:unless="${currentPage < totalPages}">Pēdējā lapa</span>
            </div>
        </div>
    </div>
</div>

<select id="pageSizeSelect">
    <option th:value="5" th:text="5" th:selected="5 == ${selectedPageSize}"></option>
    <option th:value="10" th:text="10" th:selected="10 == ${selectedPageSize}"></option>
    <option th:value="50" th:text="50" th:selected="50 == ${selectedPageSize}"></option>
    <option th:value="100" th:text="100" th:selected="100 == ${selectedPageSize}"></option>
    <option th:value="500" th:text="500" th:selected="500 == ${selectedPageSize}"></option>
</select>


</body>
<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            changePageAndSize();
        });

        function changePageAndSize() {
            $('#pageSizeSelect').change(function(evt) {
                window.location.replace("/publications/my-publications/page/1/size/" + this.value + "?sortField=publicationTitleOrigin&sortDirection=ASC");
            });
        }
        /*]]>*/

</script>
</html>