<html xmlns:th="http://www.thymeleaf.org">

<title>
    THIS PAGE IS WORK IN PROGRESS
</title>

<body>
<div class="card-2 topnav">
    <div class="bar left green">
        <a class="bar-item button" th:href="@{/home}">Home</a>
        <a class="topnav-icons fa right bar-item button" th:href="@{/logout}">Izlogoties</a>
    </div>
</div>
</body>
<ul>
    <li th:unless="${publication.getPubType() == null}">
        <label>Publikācijas tips</label>
        <span th:text="${publication.getPubType().getPublicationTypeValue()}"></span>
    </li>
    <li th:unless="${publication.getLanguage() == null}">
        <label>Publikācijas valoda</label>
        <span th:text="${publication.getLanguage()}"></span>
    </li>
    <li th:unless="${publication.getPublicationTitleOrigin() == null}">
        <label>Publikācijas nosaukums oriģinālvalodā</label>
        <span th:text="${publication.getPublicationTitleOrigin()}"></span>
    </li>
    <li th:unless="${publication.getPublicationTitleEnglish() == null}">
        <label>Publikācijas Nosaukums angļu valodā</label>
        <span th:text="${publication.getPublicationTitleEnglish()}"></span>
    </li>
    <li th:unless="${publication.getAnnotation() == null}">
        <label>Anotācija</label>
        <span th:text="${publication.getAnnotation()}"></span>
    </li>
    <li th:unless="${publication.getAnnotationEnglish() == null}">
        <label>Anotācija angļu valodā</label>
        <span th:text="${publication.getAnnotationEnglish()}"></span>
    </li>
    <li th:unless="${publication.getFieldOfResearch() == null}">
        <label>Pētniecības nozare</label>
        <span th:text="${publication.getFieldOfResearch()}"></span>
    </li>
    <li th:unless="${publication.getAuthors() == null || publication.getAuthors().size() < 1}">
        <label>Autori</label>
        <table th:each="author: ${publication.getAuthors()}">
            <tr>
                <th>Vārds</th>
                <th>Uzvārds</th>
                <th>Strādā Vea</th>
            </tr>
            <tr>
                <td th:text="${author.getName()}"/>
                <td th:text="${author.getSurname()}"/>
                <td th:text="${author.isWorkingInVea() ? 'Jā' : 'Nē'}"/>
            </tr>
        </table>
    </li>
    <li th:unless="${publication.getKeyWords() == null || publication.getKeyWords().size() < 1}">
        <label>Atslēgas vārdi</label>
        <table th:each="keyWord: ${publication.getKeyWords()}">
            <tr>
                <td th:text="${keyWord}"/>
            </tr>
        </table>
        <div th:unless="${publication.getFilePath() == null || publication.getFileName() == null }">
            <!--             th:object="${file}"-->

            <label>Publikācijas fails</label>
            <!--            <ul>-->
            <!--                <li th:each="file : ${files}">-->
            <!--                    <a th:href="${file}" th:text="${publication.getFileName()}" />-->
            <a th:href="@{downloadFile/{id}(id=${publication.getPub_ID()})}" th:text="${publication.getFileName()}"/>
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    <li th:unless="${publication.getPublisher() == null}">
        <label>Izdevējs</label>
        <span th:text="${publication.getPublisher()}"></span>
    </li>
    <li th:unless="${publication.getPublishedYear() == null}">
        <label>Publikācijas gads</label>
        <span th:text="${publication.getPublishedYear()}"></span>
    </li>
    <li th:unless="${publication.getPages().equals(null)}">
        <label>Lapaspušu skaits</label>
        <span th:text="${publication.getPages()}"></span>
    </li>
    <li th:unless="${publication.getIsbnISSN() == null}">
        <label>ISBN/ISSN</label>
        <span th:text="${publication.getIsbnISSN()}"></span>
    </li>
    <li th:unless="${publication.getPublishment() == null}">
        <label>Izdevuma veids</label>
        <span th:text="${publication.getPublishment().getPublishmentTypeName()}"></span>
    </li>
    <li th:unless="${publication.getDataBases() == null || publication.getDataBases().size() < 1}">
        <label>Datu bāzes</label>
        <table th:each="db: ${publication.getDataBases()}">
            <tr>
                <td th:text="${db.getDataBaseName()}"/>
            </tr>
        </table>
    </li>
    <li th:unless="${publication.getHyperLink() == null}">
        <label>Saite uz publikāciju</label>
        <span th:text="${publication.getHyperLink()}"></span>
    </li>
    <li th:unless="${publication.getNotes() == null}">
        <label>Piezīmes</label>
        <span th:text="${publication.getNotes()}"></span>
    </li>
</ul>

<ul th:unless="${publication.getPublicationBook() == null}">
    <li th:unless="${publication.getPublicationBook().getNameOfBook() == null}">
        <label>Grāmatas nosaukums</label>
        <span th:text="${publication.getPublicationBook().getNameOfBook()}"></span>
    </li>
    <li th:unless="${publication.getPublicationBook().getEditors() == null || publication.getPublicationBook().getEditors().size() < 1}">
        <label>Redaktori</label>
        <table th:each="editor: ${publication.getPublicationBook().getEditors()}">
            <tr>
                <td th:text="${editor}"/>
            </tr>
        </table>
    </li>
    <li th:unless="${publication.getPublicationBook().getPlacePublished() == null}">
        <label>Izdošanas vieta</label>
        <span th:text="${publication.getPublicationBook().getPlacePublished()}"></span>
    </li>
</ul>

<ul th:unless="${publication.getPublicationMagazine() == null}">
    <li th:unless="${publication.getPublicationMagazine().getNameOfMagazine() == null}">
        <label>Žurnāla nosaukums</label>
        <span th:text="${publication.getPublicationMagazine().getNameOfMagazine()}"></span>
    </li>
    <li th:unless="${publication.getPublicationMagazine().getEditors() == null || publication.getPublicationMagazine().getEditors().size() < 1}">
        <label>Redaktori</label>
        <table th:each="editor: ${publication.getPublicationMagazine().getEditors()}">
            <tr>
                <td th:text="${editor}"/>
            </tr>
        </table>
    </li>
    <li th:unless="${publication.getPublicationMagazine().getSerialNumber() == null}">
        <label>Sērijas numurs</label>
        <span th:text="${publication.getPublicationMagazine().getSerialNumber()}"></span>
    </li>
</ul>

<ul th:unless="${publication.getPublicationConference() == null}">
    <li th:unless="${publication.getPublicationConference().getConferenceName() == null}">
        <label>Konferences nosaukums</label>
        <span th:text="${publication.getPublicationConference().getConferenceName()}"></span>
    </li>
    <li th:unless="${publication.getPublicationConference().getDate() == null}">
        <label>Konferences datums</label>
        <span th:text="${publication.getPublicationConference().getDate()}"></span>
    </li>
    <li th:unless="${publication.getPublicationConference().getCountry() == null}">
        <label>Valsts</label>
        <span th:text="${publication.getPublicationConference().getCountry()}"></span>
    </li>
    <li th:unless="${publication.getPublicationConference().getCity() == null}">
        <label>Pilsēta</label>
        <span th:text="${publication.getPublicationConference().getCity()}"></span>
    </li>
    <li th:unless="${publication.getPublicationConference().getNameOfCollection() == null}">
        <label>Krājuma nosaukums</label>
        <span th:text="${publication.getPublicationConference().getNameOfCollection()}"></span>
    </li>
    <li th:unless="${publication.getPublicationConference().getPlacePublished() == null}">
        <label>Izdošanas vieta</label>
        <span th:text="${publication.getPublicationConference().getPlacePublished()}"></span>
    </li>
    <li th:unless="${publication.getPublicationConference().getVolume() == null}">
        <label>Sējums</label>
        <span th:text="${publication.getPublicationConference().getVolume()}"></span>
    </li>
</ul>
</body>
</html>