<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register user</title>
</head>
<body>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <table>
        <tr>

            <td> <b>Name</b> <input type="text" th:field="*{name}" required> </td>
            <td th:if="${#fields.hasErrors('name')}" th:error="*{name}" ></td>
        </tr>
        <tr>

            <td> <b>Surname</b> <input type="text" th:field="*{surname}" required></td>
            <td th:if="${#fields.hasErrors('surname')}" th:error="*{surname}"></td>
        </tr>
        <tr>

            <td> <b>Username</b> <input type="text" th:field="*{username}" required></td>
            <td th:if="${#fields.hasErrors('username')}" th:error="*{username}"></td>
        </tr>
        <tr>

            <td> <b>Email</b> <input type="text" th:field="*{email}" required></td>
            <td th:if="${#fields.hasErrors('email')}" th:error="*{email}"></td>
        </tr>
        <tr>

            <td> <b>Password</b> <input type="text" th:field="*{password}" required></td>
            <td th:if="${#fields.hasErrors('password')}" th:error="*{password}"></td>
        </tr>
        <tr>

            <td> <b>Type</b> <input type="text" th:field="*{type}" required></td>
            <td th:if="${#fields.hasErrors('type')}" th:error="*{type}"></td>
        </tr>

        <tr>
            <td><input type="submit" value="Register"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>
